## Introduction to the options and settings module

In [1]:
import pandas as pd
import numpy as np

#### Changing options with attributes and dot syntax

In [5]:
data = np.random.randint(0,100,[1000,50])
df = pd.DataFrame(data)
df.head(3)

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,58,79,85,98,83,28,46,30,82,65,...,60,79,5,37,41,32,99,28,65,24
1,34,23,71,29,68,16,47,79,80,33,...,33,31,93,22,88,45,78,4,42,38
2,41,66,97,79,94,0,94,8,56,67,...,1,75,71,48,51,41,25,61,12,74

In [8]:
pd.get_option("display.max_rows")

60

In [16]:
pd.set_option("display.max_rows", 500)

In [17]:
pd.get_option("display.max_rows")

500

In [18]:
df

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,58,79,85,98,83,28,46,30,82,65,...,60,79,5,37,41,32,99,28,65,24
1,34,23,71,29,68,16,47,79,80,33,...,33,31,93,22,88,45,78,4,42,38
2,41,66,97,79,94,0,94,8,56,67,...,1,75,71,48,51,41,25,61,12,74
3,45,40,29,15,28,36,36,66,34,59,...,4,50,29,4,53,36,17,56,30,78
4,41,39,26,93,94,76,7,41,57,24,...,17,83,24,93,28,20,58,81,31,60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,57,85,20,91,10,79,41,31,70,96,...,14,1,12,20,17,49,76,32,7,77
996,11,38,85,54,15,32,70,18,68,73,...,75,16,86,17,66,35,12,2,83,44
997,69,47,91,50,37,28,44,37,40,93,...,51,48,41,70,73,27,17,44,68,57
998,28,34,12,29,20,59,24,11,10,31,...,38,77,70,5,51,92,47,84,99,86
999,14,52,78,50,83,69,39,68,51,94,...,83,95,56,40,57,57,96,56,87,29

In [19]:
pd.get_option("display.max_columns")

20

In [20]:
pd.set_option("display.max_columns", 50)

In [21]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49
0,58,79,85,98,83,28,46,30,82,65,5,42,12,64,40,94,35,12,64,10,62,72,55,49,14,11,87,12,23,64,61,99,29,60,92,31,77,12,69,29,60,79,5,37,41,32,99,28,65,24
1,34,23,71,29,68,16,47,79,80,33,42,40,56,31,59,43,4,61,49,33,18,71,98,30,68,17,45,94,22,57,61,54,96,20,58,19,56,20,8,55,33,31,93,22,88,45,78,4,42,38
2,41,66,97,79,94,0,94,8,56,67,41,85,20,34,73,3,20,52,80,10,93,53,55,10,80,17,13,77,63,71,12,38,44,92,22,8,34,5,36,98,1,75,71,48,51,41,25,61,12,74
3,45,40,29,15,28,36,36,66,34,59,83,75,29,36,20,2,70,42,6,72,39,52,67,60,6,50,55,52,72,93,66,50,38,76,7,48,99,94,36,87,4,50,29,4,53,36,17,56,30,78
4,41,39,26,93,94,76,7,41,57,24,8,42,74,16,52,2,82,76,49,99,0,3,92,30,26,73,0,54,14,57,46,40,97,5,28,47,72,62,24,82,17,83,24,93,28,20,58,81,31,60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,57,85,20,91,10,79,41,31,70,96,53,16,20,98,53,61,92,45,48,8,57,17,21,40,35,21,61,62,45,19,87,54,26,54,68,11,94,17,79,33,14,1,12,20,17,49,76,32,7,77
996,11,38,85,54,15,32,70,18,68,73,93,89,61,94,54,15,42,54,84,63,53,76,60,48,0,57,91,56,63,29,4,41,76,5,38,15,79,78,83,89,75,16,86,17,66,35,12,2,83,44
997,69,47,91,50,37,28,44,37,40,93,47,70,4,60,93,79,18,78,95,66,75,72,93,3,4,47,16,84,41,16,24,99,80,54,99,14,45,61,84,83,51,48,41,70,73,27,17,44,68,57
998,28,34,12,29,20,59,24,11,10,31,58,67,79,67,17,69,40,85,33,32,7,49,48,81,22,50,2,41,89,98,11,71,39,67,41,62,45,89,85,0,38,77,70,5,51,92,47,84,99,86
999,14,52,78,50,83,69,39,68,51,94,51,82,89,59,37,41,25,13,93,34,43,44,93,97,51,93,35,53,59,80,22,70,55,63,49,44,98,12,0,91,83,95,56,40,57,57,96,56,87,29

In [23]:
pd.reset_option("max_columns")

In [24]:
df

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,58,79,85,98,83,28,46,30,82,65,...,60,79,5,37,41,32,99,28,65,24
1,34,23,71,29,68,16,47,79,80,33,...,33,31,93,22,88,45,78,4,42,38
2,41,66,97,79,94,0,94,8,56,67,...,1,75,71,48,51,41,25,61,12,74
3,45,40,29,15,28,36,36,66,34,59,...,4,50,29,4,53,36,17,56,30,78
4,41,39,26,93,94,76,7,41,57,24,...,17,83,24,93,28,20,58,81,31,60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,57,85,20,91,10,79,41,31,70,96,...,14,1,12,20,17,49,76,32,7,77
996,11,38,85,54,15,32,70,18,68,73,...,75,16,86,17,66,35,12,2,83,44
997,69,47,91,50,37,28,44,37,40,93,...,51,48,41,70,73,27,17,44,68,57
998,28,34,12,29,20,59,24,11,10,31,...,38,77,70,5,51,92,47,84,99,86
999,14,52,78,50,83,69,39,68,51,94,...,83,95,56,40,57,57,96,56,87,29

In [25]:
pd.describe_option('max_columns')

display.max_columns : int
    If max_cols is exceeded, switch to truncate view. Depending on
    `large_repr`, objects are either centrally truncated or printed as
    a summary view. 'None' value means unlimited.

    In case python/IPython is running in a terminal and `large_repr`
    equals 'truncate' this can be set to 0 and pandas will auto-detect
    the width of the terminal and print a truncated object which fits
    the screen width. The IPython notebook, IPython qtconsole, or IDLE
    do not run in a terminal and hence it is not possible to do
    correct auto-detection.
    [default: 20] [currently: 20]

#### The precision option

In [28]:
df = pd.DataFrame(np.random.rand(5,5))
df

          0         1         2         3         4
0  0.914890  0.554888  0.125013  0.140655  0.344993
1  0.561750  0.496912  0.560930  0.057817  0.816229
2  0.436893  0.779753  0.334330  0.075886  0.102451
3  0.817331  0.288761  0.539713  0.477329  0.215003
4  0.322847  0.968548  0.099240  0.729606  0.427895

In [29]:
pd.get_option('precision')

6

In [30]:
pd.set_option('precision',2)

In [31]:
df

      0     1     2     3     4
0  0.91  0.55  0.13  0.14  0.34
1  0.56  0.50  0.56  0.06  0.82
2  0.44  0.78  0.33  0.08  0.10
3  0.82  0.29  0.54  0.48  0.22
4  0.32  0.97  0.10  0.73  0.43

In [32]:
pd.reset_option('precision')

In [33]:
df

          0         1         2         3         4
0  0.914890  0.554888  0.125013  0.140655  0.344993
1  0.561750  0.496912  0.560930  0.057817  0.816229
2  0.436893  0.779753  0.334330  0.075886  0.102451
3  0.817331  0.288761  0.539713  0.477329  0.215003
4  0.322847  0.968548  0.099240  0.729606  0.427895