## Intro working with times and dates

In [1]:
import pandas as pd
import datetime as dt

#### Review of datetime module

In [2]:
dt.date(2021, 7, 12)

datetime.date(2021, 7, 12)

In [3]:
someday = dt.date(2021, 7, 12)

In [4]:
someday.year
someday.month
someday.day

12

In [5]:
dt.datetime(2010,1,10)

datetime.datetime(2010, 1, 10, 0, 0)

In [6]:
str(dt.datetime(2010,1,10,17,13, 57))

'2010-01-10 17:13:57'

In [7]:
str(someday)

'2021-07-12'

In [8]:
sometime = dt.datetime(2010,1,10,17,13, 57)

In [9]:
sometime.year
sometime.month
sometime.year
sometime.hour
sometime.minute
sometime.second

57

#### The pandas Timestamp object

In [10]:
pd.Timestamp("2015-03-31")
pd.Timestamp("2015/03/31")
pd.Timestamp("2013, 11, 04")
pd.Timestamp('1/1/2015')
pd.Timestamp('19/12/2015')
pd.Timestamp('12/19/2015')
pd.Timestamp("4/3/2010")
pd.Timestamp('2021-03-08 08:35:15')
pd.Timestamp('2021-03-08 6:35:15 PM')

Timestamp('2021-03-08 18:35:15')

In [11]:
pd.Timestamp(dt.date(2015,1,1))

Timestamp('2015-01-01 00:00:00')

In [12]:
pd.Timestamp(dt.datetime(2000,2,3,21,35,22))

Timestamp('2000-02-03 21:35:22')

#### The pandas DatetimeIndex object

In [13]:
dates = ['2016-01-02', '2016-04-12', '2009-09-07']
pd.DatetimeIndex(dates)

DatetimeIndex(['2016-01-02', '2016-04-12', '2009-09-07'], dtype='datetime64[ns]', freq=None)

In [14]:
dates = ['2016/01/02', '2016/04/12', '2009/09/07']
pd.DatetimeIndex(dates)

DatetimeIndex(['2016-01-02', '2016-04-12', '2009-09-07'], dtype='datetime64[ns]', freq=None)

In [15]:
dates = [dt.date(2016,1,10), dt.date(1994,6,13), dt.date(2003, 12,29)]
dtIndex = pd.DatetimeIndex(dates)

In [16]:
values = [100,200,300]
pd.Series(data = values, index = dtIndex)

2016-01-10    100
1994-06-13    200
2003-12-29    300
dtype: int64

#### The pd.to_datetime() method

In [17]:
pd.to_datetime('2011-04-19')
pd.to_datetime(dt.date(2015,1,1))
pd.to_datetime(dt.datetime(2015,1,1,15,35,20))
pd.to_datetime(['2015-01-03', '2014/02/08', '2016', "July 4th, 1996"])

DatetimeIndex(['2015-01-03', '2014-02-08', '2016-01-01', '1996-07-04'], dtype='datetime64[ns]', freq=None)

In [18]:
times = pd.Series(['2015-01-03', '2014/02/08', '2016', "July 4th, 1996"])
times

0        2015-01-03
1        2014/02/08
2              2016
3    July 4th, 1996
dtype: object

In [19]:
pd.to_datetime(times)

0   2015-01-03
1   2014-02-08
2   2016-01-01
3   1996-07-04
dtype: datetime64[ns]

In [22]:
dates = pd.Series(["July 4th, 1996", '10/04/1991', 'Hello', "2015-02-31"])
dates

0    July 4th, 1996
1        10/04/1991
2             Hello
3        2015-02-31
dtype: object

In [25]:
pd.to_datetime(dates, errors = 'coerce')

0   1996-07-04
1   1991-10-04
2          NaT
3          NaT
dtype: datetime64[ns]

#### Create range of dates with the pd.date_range() method I

In [28]:
times = pd.date_range(start = '2016-01-01', end = '2016-01-10', freq = 'D')

In [29]:
type(times)

pandas.core.indexes.datetimes.DatetimeIndex

In [30]:
type(times[0])

pandas._libs.tslibs.timestamps.Timestamp

In [32]:
pd.date_range(start = '2016-01-01', end = '2016-01-10', freq = '2D')

DatetimeIndex(['2016-01-01', '2016-01-03', '2016-01-05', '2016-01-07',
               '2016-01-09'],
              dtype='datetime64[ns]', freq='2D')

In [33]:
pd.date_range(start = '2016-01-01', end = '2016-01-10', freq = 'B')

DatetimeIndex(['2016-01-01', '2016-01-04', '2016-01-05', '2016-01-06',
               '2016-01-07', '2016-01-08'],
              dtype='datetime64[ns]', freq='B')

In [34]:
pd.date_range(start = '2016-01-01', end = '2016-01-10', freq = 'W')

DatetimeIndex(['2016-01-03', '2016-01-10'], dtype='datetime64[ns]', freq='W-SUN')

In [37]:
pd.date_range(start = '2016-01-01', end = '2016-01-15', freq = 'W-FRI')

DatetimeIndex(['2016-01-01', '2016-01-08', '2016-01-15'], dtype='datetime64[ns]', freq='W-FRI')

In [38]:
pd.date_range(start = '2016-01-01', end = '2016-01-15', freq = 'H')

DatetimeIndex(['2016-01-01 00:00:00', '2016-01-01 01:00:00',
               '2016-01-01 02:00:00', '2016-01-01 03:00:00',
               '2016-01-01 04:00:00', '2016-01-01 05:00:00',
               '2016-01-01 06:00:00', '2016-01-01 07:00:00',
               '2016-01-01 08:00:00', '2016-01-01 09:00:00',
               ...
               '2016-01-14 15:00:00', '2016-01-14 16:00:00',
               '2016-01-14 17:00:00', '2016-01-14 18:00:00',
               '2016-01-14 19:00:00', '2016-01-14 20:00:00',
               '2016-01-14 21:00:00', '2016-01-14 22:00:00',
               '2016-01-14 23:00:00', '2016-01-15 00:00:00'],
              dtype='datetime64[ns]', length=337, freq='H')

In [39]:
pd.date_range(start = '2016-01-01', end = '2016-01-15', freq = '6H')

DatetimeIndex(['2016-01-01 00:00:00', '2016-01-01 06:00:00',
               '2016-01-01 12:00:00', '2016-01-01 18:00:00',
               '2016-01-02 00:00:00', '2016-01-02 06:00:00',
               '2016-01-02 12:00:00', '2016-01-02 18:00:00',
               '2016-01-03 00:00:00', '2016-01-03 06:00:00',
               '2016-01-03 12:00:00', '2016-01-03 18:00:00',
               '2016-01-04 00:00:00', '2016-01-04 06:00:00',
               '2016-01-04 12:00:00', '2016-01-04 18:00:00',
               '2016-01-05 00:00:00', '2016-01-05 06:00:00',
               '2016-01-05 12:00:00', '2016-01-05 18:00:00',
               '2016-01-06 00:00:00', '2016-01-06 06:00:00',
               '2016-01-06 12:00:00', '2016-01-06 18:00:00',
               '2016-01-07 00:00:00', '2016-01-07 06:00:00',
               '2016-01-07 12:00:00', '2016-01-07 18:00:00',
               '2016-01-08 00:00:00', '2016-01-08 06:00:00',
               '2016-01-08 12:00:00', '2016-01-08 18:00:00',
               '2016-01-09 00:00:00', '2016-01-09 06:00:00',
               '2016-01-09 12:00:00', '2016-01-09 18:00:00',
               '2016-01-10 00:00:00', '2016-01-10 06:00:00',
               '2016-01-10 12:00:00', '2016-01-10 18:00:00',
               '2016-01-11 00:00:00', '2016-01-11 06:00:00',
               '2016-01-11 12:00:00', '2016-01-11 18:00:00',
               '2016-01-12 00:00:00', '2016-01-12 06:00:00',
               '2016-01-12 12:00:00', '2016-01-12 18:00:00',
               '2016-01-13 00:00:00', '2016-01-13 06:00:00',
               '2016-01-13 12:00:00', '2016-01-13 18:00:00',
               '2016-01-14 00:00:00', '2016-01-14 06:00:00',
               '2016-01-14 12:00:00', '2016-01-14 18:00:00',
               '2016-01-15 00:00:00'],
              dtype='datetime64[ns]', freq='6H')

In [41]:
pd.date_range(start = '2016-01-01', end = '2016-12-31', freq = 'M')

DatetimeIndex(['2016-01-31', '2016-02-29', '2016-03-31', '2016-04-30',
               '2016-05-31', '2016-06-30', '2016-07-31', '2016-08-31',
               '2016-09-30', '2016-10-31', '2016-11-30', '2016-12-31'],
              dtype='datetime64[ns]', freq='M')

In [42]:
pd.date_range(start = '2016-01-01', end = '2016-12-31', freq = 'MS')

DatetimeIndex(['2016-01-01', '2016-02-01', '2016-03-01', '2016-04-01',
               '2016-05-01', '2016-06-01', '2016-07-01', '2016-08-01',
               '2016-09-01', '2016-10-01', '2016-11-01', '2016-12-01'],
              dtype='datetime64[ns]', freq='MS')

In [46]:
pd.date_range(start = '2016-01-01', end = '2050-01-01', freq = 'A') #AS

DatetimeIndex(['2016-12-31', '2017-12-31', '2018-12-31', '2019-12-31',
               '2020-12-31', '2021-12-31', '2022-12-31', '2023-12-31',
               '2024-12-31', '2025-12-31', '2026-12-31', '2027-12-31',
               '2028-12-31', '2029-12-31', '2030-12-31', '2031-12-31',
               '2032-12-31', '2033-12-31', '2034-12-31', '2035-12-31',
               '2036-12-31', '2037-12-31', '2038-12-31', '2039-12-31',
               '2040-12-31', '2041-12-31', '2042-12-31', '2043-12-31',
               '2044-12-31', '2045-12-31', '2046-12-31', '2047-12-31',
               '2048-12-31', '2049-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

#### Create range of dates with the pd.date_range() method II

In [47]:
pd.date_range(start = '2012-09-09', periods = 25)

DatetimeIndex(['2012-09-09', '2012-09-10', '2012-09-11', '2012-09-12',
               '2012-09-13', '2012-09-14', '2012-09-15', '2012-09-16',
               '2012-09-17', '2012-09-18', '2012-09-19', '2012-09-20',
               '2012-09-21', '2012-09-22', '2012-09-23', '2012-09-24',
               '2012-09-25', '2012-09-26', '2012-09-27', '2012-09-28',
               '2012-09-29', '2012-09-30', '2012-10-01', '2012-10-02',
               '2012-10-03'],
              dtype='datetime64[ns]', freq='D')

In [48]:
pd.date_range(start = '2012-09-09', periods = 25, freq = 'D')

DatetimeIndex(['2012-09-09', '2012-09-10', '2012-09-11', '2012-09-12',
               '2012-09-13', '2012-09-14', '2012-09-15', '2012-09-16',
               '2012-09-17', '2012-09-18', '2012-09-19', '2012-09-20',
               '2012-09-21', '2012-09-22', '2012-09-23', '2012-09-24',
               '2012-09-25', '2012-09-26', '2012-09-27', '2012-09-28',
               '2012-09-29', '2012-09-30', '2012-10-01', '2012-10-02',
               '2012-10-03'],
              dtype='datetime64[ns]', freq='D')

In [49]:
pd.date_range(start = '2012-09-09', periods = 50, freq = 'B')

DatetimeIndex(['2012-09-10', '2012-09-11', '2012-09-12', '2012-09-13',
               '2012-09-14', '2012-09-17', '2012-09-18', '2012-09-19',
               '2012-09-20', '2012-09-21', '2012-09-24', '2012-09-25',
               '2012-09-26', '2012-09-27', '2012-09-28', '2012-10-01',
               '2012-10-02', '2012-10-03', '2012-10-04', '2012-10-05',
               '2012-10-08', '2012-10-09', '2012-10-10', '2012-10-11',
               '2012-10-12', '2012-10-15', '2012-10-16', '2012-10-17',
               '2012-10-18', '2012-10-19', '2012-10-22', '2012-10-23',
               '2012-10-24', '2012-10-25', '2012-10-26', '2012-10-29',
               '2012-10-30', '2012-10-31', '2012-11-01', '2012-11-02',
               '2012-11-05', '2012-11-06', '2012-11-07', '2012-11-08',
               '2012-11-09', '2012-11-12', '2012-11-13', '2012-11-14',
               '2012-11-15', '2012-11-16'],
              dtype='datetime64[ns]', freq='B')

In [50]:
pd.date_range(start = '2012-09-09', periods = 50, freq = 'W')

DatetimeIndex(['2012-09-09', '2012-09-16', '2012-09-23', '2012-09-30',
               '2012-10-07', '2012-10-14', '2012-10-21', '2012-10-28',
               '2012-11-04', '2012-11-11', '2012-11-18', '2012-11-25',
               '2012-12-02', '2012-12-09', '2012-12-16', '2012-12-23',
               '2012-12-30', '2013-01-06', '2013-01-13', '2013-01-20',
               '2013-01-27', '2013-02-03', '2013-02-10', '2013-02-17',
               '2013-02-24', '2013-03-03', '2013-03-10', '2013-03-17',
               '2013-03-24', '2013-03-31', '2013-04-07', '2013-04-14',
               '2013-04-21', '2013-04-28', '2013-05-05', '2013-05-12',
               '2013-05-19', '2013-05-26', '2013-06-02', '2013-06-09',
               '2013-06-16', '2013-06-23', '2013-06-30', '2013-07-07',
               '2013-07-14', '2013-07-21', '2013-07-28', '2013-08-04',
               '2013-08-11', '2013-08-18'],
              dtype='datetime64[ns]', freq='W-SUN')

In [51]:
pd.date_range(start = '2012-09-09', periods = 50, freq = 'W-SUN')

DatetimeIndex(['2012-09-09', '2012-09-16', '2012-09-23', '2012-09-30',
               '2012-10-07', '2012-10-14', '2012-10-21', '2012-10-28',
               '2012-11-04', '2012-11-11', '2012-11-18', '2012-11-25',
               '2012-12-02', '2012-12-09', '2012-12-16', '2012-12-23',
               '2012-12-30', '2013-01-06', '2013-01-13', '2013-01-20',
               '2013-01-27', '2013-02-03', '2013-02-10', '2013-02-17',
               '2013-02-24', '2013-03-03', '2013-03-10', '2013-03-17',
               '2013-03-24', '2013-03-31', '2013-04-07', '2013-04-14',
               '2013-04-21', '2013-04-28', '2013-05-05', '2013-05-12',
               '2013-05-19', '2013-05-26', '2013-06-02', '2013-06-09',
               '2013-06-16', '2013-06-23', '2013-06-30', '2013-07-07',
               '2013-07-14', '2013-07-21', '2013-07-28', '2013-08-04',
               '2013-08-11', '2013-08-18'],
              dtype='datetime64[ns]', freq='W-SUN')

In [52]:
pd.date_range(start = '2012-09-09', periods = 50, freq = 'W-TUE')

DatetimeIndex(['2012-09-11', '2012-09-18', '2012-09-25', '2012-10-02',
               '2012-10-09', '2012-10-16', '2012-10-23', '2012-10-30',
               '2012-11-06', '2012-11-13', '2012-11-20', '2012-11-27',
               '2012-12-04', '2012-12-11', '2012-12-18', '2012-12-25',
               '2013-01-01', '2013-01-08', '2013-01-15', '2013-01-22',
               '2013-01-29', '2013-02-05', '2013-02-12', '2013-02-19',
               '2013-02-26', '2013-03-05', '2013-03-12', '2013-03-19',
               '2013-03-26', '2013-04-02', '2013-04-09', '2013-04-16',
               '2013-04-23', '2013-04-30', '2013-05-07', '2013-05-14',
               '2013-05-21', '2013-05-28', '2013-06-04', '2013-06-11',
               '2013-06-18', '2013-06-25', '2013-07-02', '2013-07-09',
               '2013-07-16', '2013-07-23', '2013-07-30', '2013-08-06',
               '2013-08-13', '2013-08-20'],
              dtype='datetime64[ns]', freq='W-TUE')

In [53]:
pd.date_range(start = '2012-09-09', periods = 50, freq = 'MS')

DatetimeIndex(['2012-10-01', '2012-11-01', '2012-12-01', '2013-01-01',
               '2013-02-01', '2013-03-01', '2013-04-01', '2013-05-01',
               '2013-06-01', '2013-07-01', '2013-08-01', '2013-09-01',
               '2013-10-01', '2013-11-01', '2013-12-01', '2014-01-01',
               '2014-02-01', '2014-03-01', '2014-04-01', '2014-05-01',
               '2014-06-01', '2014-07-01', '2014-08-01', '2014-09-01',
               '2014-10-01', '2014-11-01', '2014-12-01', '2015-01-01',
               '2015-02-01', '2015-03-01', '2015-04-01', '2015-05-01',
               '2015-06-01', '2015-07-01', '2015-08-01', '2015-09-01',
               '2015-10-01', '2015-11-01', '2015-12-01', '2016-01-01',
               '2016-02-01', '2016-03-01', '2016-04-01', '2016-05-01',
               '2016-06-01', '2016-07-01', '2016-08-01', '2016-09-01',
               '2016-10-01', '2016-11-01'],
              dtype='datetime64[ns]', freq='MS')

In [54]:
pd.date_range(start = '2012-09-09', periods = 50, freq = 'A')

DatetimeIndex(['2012-12-31', '2013-12-31', '2014-12-31', '2015-12-31',
               '2016-12-31', '2017-12-31', '2018-12-31', '2019-12-31',
               '2020-12-31', '2021-12-31', '2022-12-31', '2023-12-31',
               '2024-12-31', '2025-12-31', '2026-12-31', '2027-12-31',
               '2028-12-31', '2029-12-31', '2030-12-31', '2031-12-31',
               '2032-12-31', '2033-12-31', '2034-12-31', '2035-12-31',
               '2036-12-31', '2037-12-31', '2038-12-31', '2039-12-31',
               '2040-12-31', '2041-12-31', '2042-12-31', '2043-12-31',
               '2044-12-31', '2045-12-31', '2046-12-31', '2047-12-31',
               '2048-12-31', '2049-12-31', '2050-12-31', '2051-12-31',
               '2052-12-31', '2053-12-31', '2054-12-31', '2055-12-31',
               '2056-12-31', '2057-12-31', '2058-12-31', '2059-12-31',
               '2060-12-31', '2061-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [56]:
pd.date_range(start = '2012-09-09', periods = 50, freq = '6H')

DatetimeIndex(['2012-09-09 00:00:00', '2012-09-09 06:00:00',
               '2012-09-09 12:00:00', '2012-09-09 18:00:00',
               '2012-09-10 00:00:00', '2012-09-10 06:00:00',
               '2012-09-10 12:00:00', '2012-09-10 18:00:00',
               '2012-09-11 00:00:00', '2012-09-11 06:00:00',
               '2012-09-11 12:00:00', '2012-09-11 18:00:00',
               '2012-09-12 00:00:00', '2012-09-12 06:00:00',
               '2012-09-12 12:00:00', '2012-09-12 18:00:00',
               '2012-09-13 00:00:00', '2012-09-13 06:00:00',
               '2012-09-13 12:00:00', '2012-09-13 18:00:00',
               '2012-09-14 00:00:00', '2012-09-14 06:00:00',
               '2012-09-14 12:00:00', '2012-09-14 18:00:00',
               '2012-09-15 00:00:00', '2012-09-15 06:00:00',
               '2012-09-15 12:00:00', '2012-09-15 18:00:00',
               '2012-09-16 00:00:00', '2012-09-16 06:00:00',
               '2012-09-16 12:00:00', '2012-09-16 18:00:00',
               '2012-09-17 00:00:00', '2012-09-17 06:00:00',
               '2012-09-17 12:00:00', '2012-09-17 18:00:00',
               '2012-09-18 00:00:00', '2012-09-18 06:00:00',
               '2012-09-18 12:00:00', '2012-09-18 18:00:00',
               '2012-09-19 00:00:00', '2012-09-19 06:00:00',
               '2012-09-19 12:00:00', '2012-09-19 18:00:00',
               '2012-09-20 00:00:00', '2012-09-20 06:00:00',
               '2012-09-20 12:00:00', '2012-09-20 18:00:00',
               '2012-09-21 00:00:00', '2012-09-21 06:00:00'],
              dtype='datetime64[ns]', freq='6H')

#### Create range of dates with the pd.date_range() method III

In [58]:
pd.date_range(end = '1999-12-31', periods = 40, freq = 'D')

DatetimeIndex(['1999-11-22', '1999-11-23', '1999-11-24', '1999-11-25',
               '1999-11-26', '1999-11-27', '1999-11-28', '1999-11-29',
               '1999-11-30', '1999-12-01', '1999-12-02', '1999-12-03',
               '1999-12-04', '1999-12-05', '1999-12-06', '1999-12-07',
               '1999-12-08', '1999-12-09', '1999-12-10', '1999-12-11',
               '1999-12-12', '1999-12-13', '1999-12-14', '1999-12-15',
               '1999-12-16', '1999-12-17', '1999-12-18', '1999-12-19',
               '1999-12-20', '1999-12-21', '1999-12-22', '1999-12-23',
               '1999-12-24', '1999-12-25', '1999-12-26', '1999-12-27',
               '1999-12-28', '1999-12-29', '1999-12-30', '1999-12-31'],
              dtype='datetime64[ns]', freq='D')

In [59]:
pd.date_range(end = '1999-12-31', periods = 40, freq = 'B')

DatetimeIndex(['1999-11-08', '1999-11-09', '1999-11-10', '1999-11-11',
               '1999-11-12', '1999-11-15', '1999-11-16', '1999-11-17',
               '1999-11-18', '1999-11-19', '1999-11-22', '1999-11-23',
               '1999-11-24', '1999-11-25', '1999-11-26', '1999-11-29',
               '1999-11-30', '1999-12-01', '1999-12-02', '1999-12-03',
               '1999-12-06', '1999-12-07', '1999-12-08', '1999-12-09',
               '1999-12-10', '1999-12-13', '1999-12-14', '1999-12-15',
               '1999-12-16', '1999-12-17', '1999-12-20', '1999-12-21',
               '1999-12-22', '1999-12-23', '1999-12-24', '1999-12-27',
               '1999-12-28', '1999-12-29', '1999-12-30', '1999-12-31'],
              dtype='datetime64[ns]', freq='B')

In [60]:
pd.date_range(end = '1999-12-31', periods = 40, freq = 'W-FRI')

DatetimeIndex(['1999-04-02', '1999-04-09', '1999-04-16', '1999-04-23',
               '1999-04-30', '1999-05-07', '1999-05-14', '1999-05-21',
               '1999-05-28', '1999-06-04', '1999-06-11', '1999-06-18',
               '1999-06-25', '1999-07-02', '1999-07-09', '1999-07-16',
               '1999-07-23', '1999-07-30', '1999-08-06', '1999-08-13',
               '1999-08-20', '1999-08-27', '1999-09-03', '1999-09-10',
               '1999-09-17', '1999-09-24', '1999-10-01', '1999-10-08',
               '1999-10-15', '1999-10-22', '1999-10-29', '1999-11-05',
               '1999-11-12', '1999-11-19', '1999-11-26', '1999-12-03',
               '1999-12-10', '1999-12-17', '1999-12-24', '1999-12-31'],
              dtype='datetime64[ns]', freq='W-FRI')

In [61]:
pd.date_range(end = '1999-12-31', periods = 40, freq = 'M')

DatetimeIndex(['1996-09-30', '1996-10-31', '1996-11-30', '1996-12-31',
               '1997-01-31', '1997-02-28', '1997-03-31', '1997-04-30',
               '1997-05-31', '1997-06-30', '1997-07-31', '1997-08-31',
               '1997-09-30', '1997-10-31', '1997-11-30', '1997-12-31',
               '1998-01-31', '1998-02-28', '1998-03-31', '1998-04-30',
               '1998-05-31', '1998-06-30', '1998-07-31', '1998-08-31',
               '1998-09-30', '1998-10-31', '1998-11-30', '1998-12-31',
               '1999-01-31', '1999-02-28', '1999-03-31', '1999-04-30',
               '1999-05-31', '1999-06-30', '1999-07-31', '1999-08-31',
               '1999-09-30', '1999-10-31', '1999-11-30', '1999-12-31'],
              dtype='datetime64[ns]', freq='M')

In [62]:
pd.date_range(end = '1999-12-31', periods = 40, freq = 'MS')

DatetimeIndex(['1996-09-01', '1996-10-01', '1996-11-01', '1996-12-01',
               '1997-01-01', '1997-02-01', '1997-03-01', '1997-04-01',
               '1997-05-01', '1997-06-01', '1997-07-01', '1997-08-01',
               '1997-09-01', '1997-10-01', '1997-11-01', '1997-12-01',
               '1998-01-01', '1998-02-01', '1998-03-01', '1998-04-01',
               '1998-05-01', '1998-06-01', '1998-07-01', '1998-08-01',
               '1998-09-01', '1998-10-01', '1998-11-01', '1998-12-01',
               '1999-01-01', '1999-02-01', '1999-03-01', '1999-04-01',
               '1999-05-01', '1999-06-01', '1999-07-01', '1999-08-01',
               '1999-09-01', '1999-10-01', '1999-11-01', '1999-12-01'],
              dtype='datetime64[ns]', freq='MS')

#### The .dt accessor

In [64]:
bunch_of_dates = pd.date_range(start = '2000-01-01', end = '2010-12-31', freq = '24D')

In [66]:
s = pd.Series(bunch_of_dates)
s.head(3)

0   2000-01-01
1   2000-01-25
2   2000-02-18
dtype: datetime64[ns]

In [76]:
s.dt.day
s.dt.month

0       1
1       1
2       2
3       3
4       4
       ..
163     9
164    10
165    11
166    11
167    12
Length: 168, dtype: int64

In [78]:
mask = s.dt.is_quarter_start
s[mask]

0     2000-01-01
19    2001-04-01
38    2002-07-01
137   2009-01-01
dtype: datetime64[ns]

In [79]:
mask = s.dt.is_month_end
s[mask]

5     2000-04-30
57    2003-09-30
71    2004-08-31
90    2005-11-30
123   2008-01-31
161   2010-07-31
dtype: datetime64[ns]

#### Importing financial data set with pandas datareader library

In [80]:
import pandas as pd
import datetime as dt

In [81]:
from pandas_datareader import data

In [84]:
company = 'MSFT'
start = '2010-01-01'
end = '2017-12-31'

stocks = data.DataReader(name = company, data_source = 'yahoo', start=start, end = end)
stocks.head()

                 High        Low       Open      Close      Volume  Adj Close
Date
2010-01-04  31.100000  30.590000  30.620001  30.950001  38409100.0  24.049969
2010-01-05  31.100000  30.639999  30.850000  30.959999  49749600.0  24.057743
2010-01-06  31.080000  30.520000  30.879999  30.770000  58182400.0  23.910097
2010-01-07  30.700001  30.190001  30.629999  30.450001  50559700.0  23.661432
2010-01-08  30.879999  30.240000  30.280001  30.660000  51197400.0  23.824627

In [85]:
stocks.values

array([[3.11000004e+01, 3.05900002e+01, 3.06200008e+01, 3.09500008e+01,
        3.84091000e+07, 2.40499687e+01],
       [3.11000004e+01, 3.06399994e+01, 3.08500004e+01, 3.09599991e+01,
        4.97496000e+07, 2.40577431e+01],
       [3.10799999e+01, 3.05200005e+01, 3.08799992e+01, 3.07700005e+01,
        5.81824000e+07, 2.39100971e+01],
       ...,
       [8.59800034e+01, 8.52200012e+01, 8.56500015e+01, 8.57099991e+01,
        1.46780000e+07, 8.19648132e+01],
       [8.59300003e+01, 8.55500031e+01, 8.59000015e+01, 8.57200012e+01,
        1.05943000e+07, 8.19743805e+01],
       [8.60500031e+01, 8.55000000e+01, 8.56299973e+01, 8.55400009e+01,
        1.87174000e+07, 8.18022614e+01]])

In [86]:
stocks.columns

Index(['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], dtype='object')

In [87]:
stocks.index

DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
               '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
               '2010-01-14', '2010-01-15',
               ...
               '2017-12-15', '2017-12-18', '2017-12-19', '2017-12-20',
               '2017-12-21', '2017-12-22', '2017-12-26', '2017-12-27',
               '2017-12-28', '2017-12-29'],
              dtype='datetime64[ns]', name='Date', length=2013, freq=None)

In [88]:
stocks.axes

[DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
                '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
                '2010-01-14', '2010-01-15',
                ...
                '2017-12-15', '2017-12-18', '2017-12-19', '2017-12-20',
                '2017-12-21', '2017-12-22', '2017-12-26', '2017-12-27',
                '2017-12-28', '2017-12-29'],
               dtype='datetime64[ns]', name='Date', length=2013, freq=None),
 Index(['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], dtype='object')]

#### Selecting rows from a dataframe with a DatetimeIndex

In [90]:
company = 'MSFT'
start = '2010-01-01'
end = '2017-12-31'
stocks = data.DataReader(name = company, data_source = 'yahoo', start=start, end = end)
stocks.head(3)

             High        Low       Open      Close      Volume  Adj Close
Date
2010-01-04  31.10  30.590000  30.620001  30.950001  38409100.0  24.049969
2010-01-05  31.10  30.639999  30.850000  30.959999  49749600.0  24.057743
2010-01-06  31.08  30.520000  30.879999  30.770000  58182400.0  23.910097

In [93]:
stocks.loc['2014-03-04']
stocks.iloc[300]

High         2.576000e+01
Low          2.535000e+01
Open         2.549000e+01
Close        2.569000e+01
Volume       5.447340e+07
Adj Close    2.049886e+01
Name: 2011-03-14 00:00:00, dtype: float64

In [94]:
stocks.loc['2016-01-01']

KeyError: '2016-01-01'

In [95]:
stocks.loc['2013-10-01':'2013-10-07']

                 High        Low       Open      Close      Volume  Adj Close
Date
2013-10-01  33.610001  33.299999  33.349998  33.580002  36718700.0  28.750885
2013-10-02  34.029999  33.290001  33.360001  33.919998  46946800.0  29.041988
2013-10-03  34.000000  33.419998  33.880001  33.860001  38703800.0  28.990610
2013-10-04  33.990002  33.619999  33.689999  33.880001  33008100.0  29.007736
2013-10-07  33.709999  33.200001  33.599998  33.299999  35069300.0  28.511145

In [98]:
birthdays = pd.date_range(start = '1998-07-12', end = '2017-12-31', freq = pd.DateOffset(years = 1))

In [100]:
mask = stocks.index.isin(birthdays)

In [101]:
stocks.loc[mask]

                 High        Low       Open      Close      Volume  Adj Close
Date
2010-07-12  24.889999  24.420000  24.430000  24.830000  49854200.0  19.472071
2011-07-12  26.790001  26.340000  26.549999  26.540001  47319300.0  21.315914
2012-07-12  29.180000  28.540001  29.150000  28.629999  63523600.0  23.621361
2013-07-12  35.730000  35.279999  35.580002  35.669998  35501200.0  30.326609
2016-07-12  53.400002  52.790001  52.939999  53.209999  27317600.0  49.133339
2017-07-12  71.279999  70.550003  70.690002  71.150002  17750900.0  67.342255

In [102]:
stocks[mask]

                 High        Low       Open      Close      Volume  Adj Close
Date
2010-07-12  24.889999  24.420000  24.430000  24.830000  49854200.0  19.472071
2011-07-12  26.790001  26.340000  26.549999  26.540001  47319300.0  21.315914
2012-07-12  29.180000  28.540001  29.150000  28.629999  63523600.0  23.621361
2013-07-12  35.730000  35.279999  35.580002  35.669998  35501200.0  30.326609
2016-07-12  53.400002  52.790001  52.939999  53.209999  27317600.0  49.133339
2017-07-12  71.279999  70.550003  70.690002  71.150002  17750900.0  67.342255

#### Timestamp object attributes

In [104]:
company = 'MSFT'
start = '2010-01-01'
end = '2017-12-31'
stocks = data.DataReader(name = company, data_source = 'yahoo', start=start, end = end)
stocks.head(3)

             High        Low       Open      Close      Volume  Adj Close
Date
2010-01-04  31.10  30.590000  30.620001  30.950001  38409100.0  24.049969
2010-01-05  31.10  30.639999  30.850000  30.959999  49749600.0  24.057743
2010-01-06  31.08  30.520000  30.879999  30.770000  58182400.0  23.910097

In [107]:
someday = stocks.index[500]
someday

Timestamp('2011-12-27 00:00:00')

In [119]:
someday.day
someday.month
someday.year
someday.weekofyear
someday.is_month_end
someday.is_month_start
someday.weekday
someday.day_name

In [121]:
stocks.insert(0, "Day of week (name)", stocks.index.day_name)

In [122]:
stocks.head()

,Day of week (name),Day of week,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,,
2010-01-04,<bound method PandasDelegate._add_delegate_acc...,0,31.100000,30.590000,30.620001,30.950001,38409100.0,24.049969
2010-01-05,<bound method PandasDelegate._add_delegate_acc...,1,31.100000,30.639999,30.850000,30.959999,49749600.0,24.057743
2010-01-06,<bound method PandasDelegate._add_delegate_acc...,2,31.080000,30.520000,30.879999,30.770000,58182400.0,23.910097
2010-01-07,<bound method PandasDelegate._add_delegate_acc...,3,30.700001,30.190001,30.629999,30.450001,50559700.0,23.661432
2010-01-08,<bound method PandasDelegate._add_delegate_acc...,4,30.879999,30.240000,30.280001,30.660000,51197400.0,23.824627

In [124]:
stocks.insert(1, "Is start month", stocks.index.is_month_start)

In [126]:
stocks.head(3)

,Day of week (name),Is start month,Day of week,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,,,
2010-01-04,<bound method PandasDelegate._add_delegate_acc...,False,0,31.10,30.590000,30.620001,30.950001,38409100.0,24.049969
2010-01-05,<bound method PandasDelegate._add_delegate_acc...,False,1,31.10,30.639999,30.850000,30.959999,49749600.0,24.057743
2010-01-06,<bound method PandasDelegate._add_delegate_acc...,False,2,31.08,30.520000,30.879999,30.770000,58182400.0,23.910097

In [128]:
stocks[stocks['Is start month']]

,Day of week (name),Is start month,Day of week,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,,,
2010-02-01,<bound method PandasDelegate._add_delegate_acc...,True,0,28.480000,27.920000,28.389999,28.410000,85931100.0,22.076241
2010-03-01,<bound method PandasDelegate._add_delegate_acc...,True,0,29.049999,28.530001,28.770000,29.020000,43805400.0,22.655703
2010-04-01,<bound method PandasDelegate._add_delegate_acc...,True,3,29.540001,28.620001,29.350000,29.160000,74768100.0,22.764992
2010-06-01,<bound method PandasDelegate._add_delegate_acc...,True,1,26.309999,25.520000,25.530001,25.889999,76152400.0,20.303335
2010-07-01,<bound method PandasDelegate._add_delegate_acc...,True,3,23.320000,22.730000,23.090000,23.160000,92239400.0,18.162430
...,...,...,...,...,...,...,...,...,...
2017-06-01,<bound method PandasDelegate._add_delegate_acc...,True,3,70.610001,69.449997,70.239998,70.099998,21603600.0,66.348419
2017-08-01,<bound method PandasDelegate._add_delegate_acc...,True,1,73.419998,72.489998,73.099998,72.580002,22132300.0,68.695724
2017-09-01,<bound method PandasDelegate._add_delegate_acc...,True,4,74.739998,73.639999,74.709999,73.940002,21736200.0,70.355797
2017-11-01,<bound method PandasDelegate._add_delegate_acc...,True,2,83.760002,82.879997,83.680000,83.180000,22307400.0,79.147881
2017-12-01,<bound method PandasDelegate._add_delegate_acc...,True,4,84.809998,83.220001,83.599998,84.260002,29532100.0,80.578171

In [131]:
stocks.drop('Day of week (name)', axis = 1, inplace = True)

In [132]:
stocks

,Is start month,Day of week,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,,
2010-01-04,False,0,31.100000,30.590000,30.620001,30.950001,38409100.0,24.049969
2010-01-05,False,1,31.100000,30.639999,30.850000,30.959999,49749600.0,24.057743
2010-01-06,False,2,31.080000,30.520000,30.879999,30.770000,58182400.0,23.910097
2010-01-07,False,3,30.700001,30.190001,30.629999,30.450001,50559700.0,23.661432
2010-01-08,False,4,30.879999,30.240000,30.280001,30.660000,51197400.0,23.824627
...,...,...,...,...,...,...,...,...
2017-12-22,False,4,85.629997,84.919998,85.400002,85.510002,14145800.0,81.773560
2017-12-26,False,1,85.529999,85.029999,85.309998,85.400002,9891200.0,81.668373
2017-12-27,False,2,85.980003,85.220001,85.650002,85.709999,14678000.0,81.964813
2017-12-28,False,3,85.930000,85.550003,85.900002,85.720001,10594300.0,81.974380
2017-12-29,False,4,86.050003,85.500000,85.629997,85.540001,18717400.0,81.802261

#### The .truncate() method

In [133]:
company = 'MSFT'
start = '2010-01-01'
end = '2017-12-31'
stocks = data.DataReader(name = company, data_source = 'yahoo', start=start, end = end)
stocks.head(3)

             High        Low       Open      Close      Volume  Adj Close
Date
2010-01-04  31.10  30.590000  30.620001  30.950001  38409100.0  24.049969
2010-01-05  31.10  30.639999  30.850000  30.959999  49749600.0  24.057743
2010-01-06  31.08  30.520000  30.879999  30.770000  58182400.0  23.910097

In [134]:
stocks.truncate(before = '2011-02-05', after = '2011-02-28')

                 High        Low       Open      Close      Volume  Adj Close
Date
2011-02-07  28.340000  27.790001  27.799999  28.200001  68980900.0  22.369446
2011-02-08  28.340000  28.049999  28.100000  28.280001  34904200.0  22.432903
2011-02-09  28.260000  27.910000  28.190001  27.969999  52905100.0  22.187006
2011-02-10  27.940001  27.290001  27.930000  27.500000  76672400.0  21.814182
2011-02-11  27.809999  27.070000  27.760000  27.250000  83939700.0  21.615866
2011-02-14  27.270000  26.950001  27.209999  27.230000  56766200.0  21.600002
2011-02-15  27.330000  26.950001  27.040001  26.959999  44116500.0  21.512226
2011-02-16  27.070000  26.600000  27.049999  27.020000  70817900.0  21.560108
2011-02-17  27.370001  26.910000  26.969999  27.209999  57207300.0  21.711710
2011-02-18  27.209999  26.990000  27.129999  27.059999  68667800.0  21.592026
2011-02-22  27.100000  26.520000  26.780001  26.590000  60889000.0  21.216999
2011-02-23  26.860001  26.430000  26.530001  26.590000  60234100.0  21.216999
2011-02-24  27.059999  26.500000  26.639999  26.770000  64494200.0  21.360626
2011-02-25  26.950001  26.500000  26.910000  26.549999  53006300.0  21.185080
2011-02-28  26.860001  26.510000  26.690001  26.580000  51379900.0  21.209015

#### pd.Dateoffset object

In [136]:
stocks = data.DataReader(name = 'GOOG', data_source = 'yahoo', start = dt.date(2000,1,1), end = dt.datetime.now())
stocks.head(3)

                 High        Low       Open      Close      Volume  Adj Close
Date
2004-08-19  51.835709  47.800831  49.813290  49.982655  44871361.0  49.982655
2004-08-20  54.336334  50.062355  50.316402  53.952770  22942874.0  53.952770
2004-08-23  56.528118  54.321388  55.168217  54.495735  18342897.0  54.495735

In [140]:
stocks.index #+ 5

DatetimeIndex(['2004-08-19', '2004-08-20', '2004-08-23', '2004-08-24',
               '2004-08-25', '2004-08-26', '2004-08-27', '2004-08-30',
               '2004-08-31', '2004-09-01',
               ...
               '2021-04-19', '2021-04-20', '2021-04-21', '2021-04-22',
               '2021-04-23', '2021-04-26', '2021-04-27', '2021-04-28',
               '2021-04-29', '2021-04-30'],
              dtype='datetime64[ns]', name='Date', length=4204, freq=None)

In [151]:
stocks.index + pd.DateOffset(days = 5)
stocks.index + pd.DateOffset(weeks = 2)
stocks.index - pd.DateOffset(weeks = 2)
stocks.index - pd.DateOffset(months = 3)
stocks.index + pd.DateOffset(years = 1)
stocks.index + pd.DateOffset(hours = 6)
stocks.index - pd.DateOffset(years = 1, months = 3, days = 10)
stocks.index - pd.DateOffset(months = 3, years = 1, days = 10)
stocks.index - pd.DateOffset(months = 8, years = 5, days = 12, hours = 3, minutes = 42)

DatetimeIndex(['1998-12-06 20:18:00', '1998-12-07 20:18:00',
               '1998-12-10 20:18:00', '1998-12-11 20:18:00',
               '1998-12-12 20:18:00', '1998-12-13 20:18:00',
               '1998-12-14 20:18:00', '1998-12-17 20:18:00',
               '1998-12-18 20:18:00', '1998-12-19 20:18:00',
               ...
               '2015-08-06 20:18:00', '2015-08-07 20:18:00',
               '2015-08-08 20:18:00', '2015-08-09 20:18:00',
               '2015-08-10 20:18:00', '2015-08-13 20:18:00',
               '2015-08-14 20:18:00', '2015-08-15 20:18:00',
               '2015-08-16 20:18:00', '2015-08-17 20:18:00'],
              dtype='datetime64[ns]', name='Date', length=4204, freq=None)

#### More fun with pd.DateOffset objects

In [152]:
import pandas as pd
import datetime as dt
from pandas_datareader import data

In [153]:
stocks = data.DataReader(name = 'GOOG', data_source = 'yahoo', start = dt.date(2000,1,1), end = dt.datetime.now())
stocks.head(3)

                 High        Low       Open      Close      Volume  Adj Close
Date
2004-08-19  51.835709  47.800831  49.813290  49.982655  44871361.0  49.982655
2004-08-20  54.336334  50.062355  50.316402  53.952770  22942874.0  53.952770
2004-08-23  56.528118  54.321388  55.168217  54.495735  18342897.0  54.495735

In [155]:
stocks.index + pd.tseries.offsets.MonthEnd()

DatetimeIndex(['2004-08-31', '2004-08-31', '2004-08-31', '2004-08-31',
               '2004-08-31', '2004-08-31', '2004-08-31', '2004-08-31',
               '2004-09-30', '2004-09-30',
               ...
               '2021-04-30', '2021-04-30', '2021-04-30', '2021-04-30',
               '2021-04-30', '2021-04-30', '2021-04-30', '2021-04-30',
               '2021-04-30', '2021-05-31'],
              dtype='datetime64[ns]', name='Date', length=4204, freq=None)

In [156]:
stocks.index - pd.tseries.offsets.MonthEnd()

DatetimeIndex(['2004-07-31', '2004-07-31', '2004-07-31', '2004-07-31',
               '2004-07-31', '2004-07-31', '2004-07-31', '2004-07-31',
               '2004-07-31', '2004-08-31',
               ...
               '2021-03-31', '2021-03-31', '2021-03-31', '2021-03-31',
               '2021-03-31', '2021-03-31', '2021-03-31', '2021-03-31',
               '2021-03-31', '2021-03-31'],
              dtype='datetime64[ns]', name='Date', length=4204, freq=None)

In [158]:
stocks.index + pd.tseries.offsets.MonthBegin()

DatetimeIndex(['2004-09-01', '2004-09-01', '2004-09-01', '2004-09-01',
               '2004-09-01', '2004-09-01', '2004-09-01', '2004-09-01',
               '2004-09-01', '2004-10-01',
               ...
               '2021-05-01', '2021-05-01', '2021-05-01', '2021-05-01',
               '2021-05-01', '2021-05-01', '2021-05-01', '2021-05-01',
               '2021-05-01', '2021-05-01'],
              dtype='datetime64[ns]', name='Date', length=4204, freq=None)

In [159]:
from pandas.tseries.offsets import *

In [163]:
stocks.index + MonthBegin()

DatetimeIndex(['2004-09-01', '2004-09-01', '2004-09-01', '2004-09-01',
               '2004-09-01', '2004-09-01', '2004-09-01', '2004-09-01',
               '2004-09-01', '2004-10-01',
               ...
               '2021-05-01', '2021-05-01', '2021-05-01', '2021-05-01',
               '2021-05-01', '2021-05-01', '2021-05-01', '2021-05-01',
               '2021-05-01', '2021-05-01'],
              dtype='datetime64[ns]', name='Date', length=4204, freq=None)

In [164]:
stocks.index

DatetimeIndex(['2004-08-19', '2004-08-20', '2004-08-23', '2004-08-24',
               '2004-08-25', '2004-08-26', '2004-08-27', '2004-08-30',
               '2004-08-31', '2004-09-01',
               ...
               '2021-04-19', '2021-04-20', '2021-04-21', '2021-04-22',
               '2021-04-23', '2021-04-26', '2021-04-27', '2021-04-28',
               '2021-04-29', '2021-04-30'],
              dtype='datetime64[ns]', name='Date', length=4204, freq=None)

In [165]:
stocks.index + BMonthEnd()

DatetimeIndex(['2004-08-31', '2004-08-31', '2004-08-31', '2004-08-31',
               '2004-08-31', '2004-08-31', '2004-08-31', '2004-08-31',
               '2004-09-30', '2004-09-30',
               ...
               '2021-04-30', '2021-04-30', '2021-04-30', '2021-04-30',
               '2021-04-30', '2021-04-30', '2021-04-30', '2021-04-30',
               '2021-04-30', '2021-05-31'],
              dtype='datetime64[ns]', name='Date', length=4204, freq=None)

In [167]:
stocks.index + QuarterEnd()

DatetimeIndex(['2004-09-30', '2004-09-30', '2004-09-30', '2004-09-30',
               '2004-09-30', '2004-09-30', '2004-09-30', '2004-09-30',
               '2004-09-30', '2004-09-30',
               ...
               '2021-06-30', '2021-06-30', '2021-06-30', '2021-06-30',
               '2021-06-30', '2021-06-30', '2021-06-30', '2021-06-30',
               '2021-06-30', '2021-06-30'],
              dtype='datetime64[ns]', name='Date', length=4204, freq=None)

In [170]:
stocks.index + QuarterBegin()

DatetimeIndex(['2004-09-01', '2004-09-01', '2004-09-01', '2004-09-01',
               '2004-09-01', '2004-09-01', '2004-09-01', '2004-09-01',
               '2004-09-01', '2004-12-01',
               ...
               '2021-06-01', '2021-06-01', '2021-06-01', '2021-06-01',
               '2021-06-01', '2021-06-01', '2021-06-01', '2021-06-01',
               '2021-06-01', '2021-06-01'],
              dtype='datetime64[ns]', name='Date', length=4204, freq=None)

In [172]:
stocks.index + YearEnd()

DatetimeIndex(['2004-12-31', '2004-12-31', '2004-12-31', '2004-12-31',
               '2004-12-31', '2004-12-31', '2004-12-31', '2004-12-31',
               '2004-12-31', '2004-12-31',
               ...
               '2021-12-31', '2021-12-31', '2021-12-31', '2021-12-31',
               '2021-12-31', '2021-12-31', '2021-12-31', '2021-12-31',
               '2021-12-31', '2021-12-31'],
              dtype='datetime64[ns]', name='Date', length=4204, freq=None)

#### The pandas Timedelta object

In [180]:
timeA = pd.Timestamp('2016-03-31 4:35 pm')
timeB = pd.Timestamp('2016-03-20 2:16 am')

In [182]:
timeA - timeB

Timedelta('11 days 14:19:00')

In [183]:
type(timeA - timeB)

pandas._libs.tslibs.timedeltas.Timedelta

In [184]:
type(timeA)

pandas._libs.tslibs.timestamps.Timestamp

In [185]:
timeB - timeA

Timedelta('-12 days +09:41:00')

In [187]:
pd.Timedelta(days = 3, minutes = 45, hours = 12, weeks = 8)

Timedelta('59 days 12:45:00')

In [188]:
pd.Timedelta('5 minutes')

Timedelta('0 days 00:05:00')

In [191]:
pd.Timedelta('14 days, 6 hours 12 minutes, 49 seconds')

Timedelta('14 days 06:12:49')

#### Timedeltas in a dataset

In [197]:
shipping = pd.read_csv('ecommerce.csv', index_col = 'ID', parse_dates = ['order_date', 'delivery_date'])
shipping.head(3)

   order_date delivery_date
ID
1  1998-05-24    1999-02-05
2  1992-04-22    1998-03-06
4  1991-02-10    1992-08-26

In [199]:
shipping['delivery_time'] = shipping['delivery_date'] - shipping['order_date']
shipping.head(3)

   order_date delivery_date delivery_time
ID
1  1998-05-24    1999-02-05      257 days
2  1992-04-22    1998-03-06     2144 days
4  1991-02-10    1992-08-26      563 days

In [204]:
shipping['Twice as Long'] = shipping['delivery_date'] - shipping['delivery_time']

In [205]:
shipping.head()

   order_date delivery_date delivery_time Twice as Long
ID
1  1998-05-24    1999-02-05      257 days    1998-05-24
2  1992-04-22    1998-03-06     2144 days    1992-04-22
4  1991-02-10    1992-08-26      563 days    1991-02-10
5  1992-07-21    1997-11-20     1948 days    1992-07-21
7  1993-09-02    1998-06-10     1742 days    1993-09-02

In [206]:
shipping.dtypes

order_date        datetime64[ns]
delivery_date     datetime64[ns]
delivery_time    timedelta64[ns]
Twice as Long     datetime64[ns]
dtype: object

In [209]:
shipping[shipping['delivery_time'] > '3000 days']

    order_date delivery_date delivery_time Twice as Long
ID
32  1990-01-20    1998-07-24     3107 days    1990-01-20
130 1990-04-02    1999-08-16     3423 days    1990-04-02
151 1991-01-29    1999-08-05     3110 days    1991-01-29
229 1990-04-13    1998-11-17     3140 days    1990-04-13
314 1990-03-07    1999-12-25     3580 days    1990-03-07
331 1990-09-18    1999-12-19     3379 days    1990-09-18
348 1990-02-27    1999-01-04     3233 days    1990-02-27
392 1990-12-24    1999-12-04     3267 days    1990-12-24
590 1990-03-25    1998-12-20     3192 days    1990-03-25
634 1991-04-04    1999-07-21     3030 days    1991-04-04
674 1990-03-16    1998-12-28     3209 days    1990-03-16
760 1990-09-16    1998-12-06     3003 days    1990-09-16
764 1990-09-19    1999-09-16     3284 days    1990-09-19
786 1990-10-26    1999-05-10     3118 days    1990-10-26
884 1990-01-20    1999-11-12     3583 days    1990-01-20
902 1991-07-03    1999-11-10     3052 days    1991-07-03
904 1990-02-13    1999-11-15     3562 days    1990-02-13
943 1991-01-30    1999-12-02     3228 days    1991-01-30

In [210]:
shipping['delivery_time'].max()

Timedelta('3583 days 00:00:00')